<!-- include header -->
<% include("include/_header") %>

<!-- Main Site -->
<main>
    <img src="img/SE-GitHub-image.png" alt="NCHS Logo" />
    <h1>Edit Habits of Mind Journal Entry</h1>
    <div>
        <label>Date <input type="date" class="date" value="<%= entry.date %>" /></label>

        <fieldset>
            <legend>Habit of Mind:</legend>
            <% for(let habit of habits) { %>
            <label>
                <input type="radio" class="habits" name="habits"
                value="<%=habit%>" 
                <%= entry.habit === habit ? 'checked' : '' %>/> 
                <%=habit%>
            </label>
            <br/>
            <% } %>
        </fieldset>

        <label>Journal Entry <textarea class="content"><%=entry.content%></textarea></label>
        <input type="hidden" class="entryId" value="<%=entry._id%>" />
        <input type="submit" class="submit" value="Update" />
    </div>
</main>

<!-- End of Main Site -->

<script src="/js/editEntry.js"></script>

<!-- include footer -->
<% include("include/_footer") %>